.colorbg{
    background-color: black;
    color: green;
}

.colorPurple{
    background-color: purple;
    color: green;
}

.bold {
  font-weight: bold;
  font-family: sans-serif;
}

.borders{
  border-style: solid;
  border-style: dashed;
  border-width: 5px;
  padding: 50px;
  background: #004a94;
  background-clip: content-box;
  box-shadow: inset 0 0 0 50px #811a00;
  margin: 50px;
}

.buttonbox{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.librarytable{
  background-color: rgb(8, 58, 58);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.borderred{
    border-style: solid;
  border-color: red;
  border-width: 3px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
}

  .backgroundBojji{
        background-image: url("../../src/Bojji.png");
        background-position: center;
  }

  .backgroundProf{
        background-image: url("../../src/kapotprofes.png");
        background-position: center;
        background-attachment: fixed;

  }

  .noPress:hover {
       background-image: url("../../src/bOjjji.png");
       background-position: center;
  }

.sibling-hover:hover ~ .sibling-highlight  {
       background-image: url("../../src/bOjjji.png");
       background-position: center;
       color: red;
}
